   <!-- Compare  -->
   <div class="max-container custom-compare-blog">
    <div class="vorteile-wrapper compare-block">
        <h2>Vorteile</h2>
        <ul>
          
          {% if block.settings.vorteile_one != blank %}
            <li>
                <img alt="" loading="lazy"  width="100" height="200" class="icon" src="https://cdn.shopify.com/s/files/1/0528/9417/1326/files/Ok.png?v=1666100683">
              {{block.settings.vorteile_one}}
            </li>
          {% endif %}
          
          {% if block.settings.vorteile_two != blank %}
            <li>
                <img alt="" loading="lazy"  width="100" height="200" class="icon" src="https://cdn.shopify.com/s/files/1/0528/9417/1326/files/Ok.png?v=1666100683">
              {{block.settings.vorteile_two}}
            </li>
          {% endif %}
            
          {% if block.settings.vorteile_three != blank %}
            <li>
                <img alt="" loading="lazy"  width="100" height="200" class="icon" src="https://cdn.shopify.com/s/files/1/0528/9417/1326/files/Ok.png?v=1666100683">
              {{block.settings.vorteile_three}}
            </li>
          {% endif %}
            
          {% if block.settings.vorteile_four != blank %}
            <li>
                <img alt="" loading="lazy"  width="100" height="200" class="icon" src="https://cdn.shopify.com/s/files/1/0528/9417/1326/files/Ok.png?v=1666100683">
              {{block.settings.vorteile_four}}
            </li>
          {% endif %}
            
          {% if block.settings.vorteile_five != blank %}
            <li>
                <img alt="" loading="lazy"  width="100" height="200" class="icon" src="https://cdn.shopify.com/s/files/1/0528/9417/1326/files/Ok.png?v=1666100683">
              {{block.settings.vorteile_five}}
            </li>
          {% endif %}
            
          {% if block.settings.vorteile_six != blank %}
            <li>
                <img alt="" loading="lazy"  width="100" height="200" class="icon" src="https://cdn.shopify.com/s/files/1/0528/9417/1326/files/Ok.png?v=1666100683">
              {{block.settings.vorteile_six}}
            </li>
          {% endif %}
            
          {% if block.settings.vorteile_seven != blank %}
            <li>
                <img alt="" loading="lazy"  width="100" height="200" class="icon" src="https://cdn.shopify.com/s/files/1/0528/9417/1326/files/Ok.png?v=1666100683">
              {{block.settings.vorteile_seven}}
            </li>
          {% endif %}
            
          {% if block.settings.vorteile_eight != blank %}
            <li>
                <img alt="" loading="lazy"  width="100" height="200" class="icon" src="https://cdn.shopify.com/s/files/1/0528/9417/1326/files/Ok.png?v=1666100683">
              {{block.settings.vorteile_eight}}
            </li>
          {% endif %}
            
          {% if block.settings.vorteile_nine != blank %}
            <li>
                <img alt="" loading="lazy"  width="100" height="200" class="icon" src="https://cdn.shopify.com/s/files/1/0528/9417/1326/files/Ok.png?v=1666100683">
              {{block.settings.vorteile_nine}}
            </li>
          {% endif %}

          {% if block.settings.vorteile_ten != blank %}
            <li>
                <img alt="" loading="lazy"  width="100" height="200" class="icon" src="https://cdn.shopify.com/s/files/1/0528/9417/1326/files/Ok.png?v=1666100683">
              {{block.settings.vorteile_ten}}
            </li>
          {% endif %}


        </ul>
    </div>

    <div class="nachteile-wrapper compare-block">
        <h2>Nachteile</h2>
        <ul>

            {% if block.settings.nachteile_one != blank %}
          
          <li>
                <img alt="" loading="lazy"  width="100" height="200" class="icon" src="https://cdn.shopify.com/s/files/1/0528/9417/1326/files/Delete.png?v=1663660462">
                
                {{block.settings.nachteile_one}}
          </li>

        {% endif %}

        {% if block.settings.nachteile_two != blank %}
          
            <li>
                  <img alt="" loading="lazy"  width="100" height="200" class="icon" src="https://cdn.shopify.com/s/files/1/0528/9417/1326/files/Delete.png?v=1663660462">
                  
                  {{ block.settings.nachteile_two }}
            </li>
  
          {% endif %}

          {% if block.settings.nachteile_three != blank %}
          
            <li>
                  <img alt="" loading="lazy"  width="100" height="200" class="icon" src="https://cdn.shopify.com/s/files/1/0528/9417/1326/files/Delete.png?v=1663660462">
                  
                  {{block.settings.nachteile_three}}
            </li>
  
          {% endif %}

          {% if block.settings.nachteile_four != blank %}
          
            <li>
                  <img alt="" loading="lazy"  width="100" height="200" class="icon" src="https://cdn.shopify.com/s/files/1/0528/9417/1326/files/Delete.png?v=1663660462">
                  
                  {{block.settings.nachteile_four}}
            </li>
  
          {% endif %}

          {% if block.settings.nachteile_five != blank %}
          
            <li>
                  <img alt="" loading="lazy"  width="100" height="200" class="icon" src="https://cdn.shopify.com/s/files/1/0528/9417/1326/files/Delete.png?v=1663660462">
                  
                  {{block.settings.nachteile_five}}
            </li>
  
          {% endif %}

          {% if block.settings.nachteile_six != blank %}
          
            <li>
                  <img alt="" loading="lazy"  width="100" height="200" class="icon" src="https://cdn.shopify.com/s/files/1/0528/9417/1326/files/Delete.png?v=1663660462">
                  
                  {{block.settings.nachteile_six}}
            </li>
  
          {% endif %}

          {% if block.settings.nachteile_seven != blank %}
          
            <li>
                  <img alt="" loading="lazy"  width="100" height="200" class="icon" src="https://cdn.shopify.com/s/files/1/0528/9417/1326/files/Delete.png?v=1663660462">
                  
                  {{block.settings.nachteile_seven}}
            </li>
  
          {% endif %}

          {% if block.settings.nachteile_eight != blank %}
          
            <li>
                  <img alt="" loading="lazy"  width="100" height="200" class="icon" src="https://cdn.shopify.com/s/files/1/0528/9417/1326/files/Delete.png?v=1663660462">
                  
                  {{block.settings.nachteile_eight}}
            </li>
  
          {% endif %}

          {% if block.settings.nachteile_nine != blank %}
          
            <li>
                  <img alt="" loading="lazy"  width="100" height="200" class="icon" src="https://cdn.shopify.com/s/files/1/0528/9417/1326/files/Delete.png?v=1663660462">
                  
                  {{block.settings.nachteile_nine}}
            </li>
  
          {% endif %}

          {% if block.settings.nachteile_ten != blank %}
          
            <li>
                  <img alt="" loading="lazy"  width="100" height="200" class="icon" src="https://cdn.shopify.com/s/files/1/0528/9417/1326/files/Delete.png?v=1663660462">
                  
                  {{block.settings.nachteile_ten}}
            </li>
  
          {% endif %}
 
        </ul>
    </div>
</div>